.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
  border-radius: 8px;
  margin-bottom: 1rem;
}
